.card-list{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap:20px;
	padding: 10px;
}
.card{
	border-radius: 10px;
	background-color: tomato;
	padding: 10px;
	text-align: center;
	transition: all 1s;
}

.card:hover{
	transform: scale(1.05);
}

